@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.Landing{
    display: flex;
    justify-content: space-between;
}

.start{
    background-color: pink;
    width: 50%;
    padding-top: 3%;
    padding-bottom: 3%;
    position: fixed;

    &__bubble{
        display: flex;
        
        &--left{
            font-family: 'GongGothicMedium';
            background-color: white;
            margin: 3% auto 3% 0%;
            padding: 1% 4%;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            font-size: xx-large;
        }
        
        &--right{
            font-family: 'GongGothicMedium';
            background-color: white;
            margin: 3% 0% 3% auto;
            padding: 1% 4%;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            font-size: xx-large;
        }

        &--Ltri {
            margin: 5% 0% 5% 5%;
            width: 0px;
            height: 0px;
            border-top: 30px solid #ffffff;
            border-left: 15px solid transparent;
            border-right: 0px solid transparent;
          }

        &--Rtri {
            margin: 5% 5% 5% 0%;
            width: 0px;
            height: 0px;
            border-top: 30px solid #ffffff;
            border-left: 0px solid transparent;
            border-right: 15px solid transparent;
          }
        
        &--end{
            background-color: white;
            margin: 2% 0% 2% auto;
            padding: 2% 3%;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: baseline;
            width: fit-content;
        }

        &--end1{
            font-family: 'GongGothicMedium';
            font-size: 180%;
            font-weight: bold;
        }

        &--end2{
            font-family: 'GongGothicMedium';
            font-size: 400%;
            color: red;
        }
    }

    &__button{
        font-family: 'GongGothicMedium';
        width: 30%;
        background-color: red;
        text-align: center;
        color: white;
        padding: 1%;
        font-size: larger;
        border-radius: 30px;
        
    }

    &__btnback{
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    &__back{
        width: 50%;
        padding-top: 3%;
        padding-bottom: 1%;
    }
}

.service{
    width: 50%;

    &__bigfont{
        font-family: 'GongGothicMedium';
        font-size: 300%;
    }
    
    &__font{
        font-family: 'GongGothicMedium';
        font-size: 180%;
    }

    &__introduce{
        padding: 3%;

        &--textbox{
            display: flex;
            align-items: baseline;
        }

        &--squarebox{
            display: flex;
            justify-content: space-evenly;
        }

        &--square{
            width: 25%;
            text-align: center;
            font-weight: bold;
            padding: 3%;
            margin: 3% 0%;
            border: 1px solid gray;
            border-radius: 30px;
        }
        
        &--image{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            margin-bottom: 5%;
            width: 120px;
            height: 120px;
        }  
    }

    &__guide{
        padding: 3%;

        &--box{
            display: flex;
            padding: 1%;
        }

        &--text{
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: large;
        }

        &--image{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 150px;
            background-color: lightgray;
            border-radius: 30px;
        }
    }

    &__starttext{
        padding: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: large;

        &--red{
            color: red;
        }
    }

    &__upbutton{
        width: 3%;
        height: 6%;    
        font-size: xx-large;
        text-align: center;
        border-radius: 50%;
        background-color: white;
        position:fixed;
        right:30px;
        bottom:30px;
    }
}