@use "../common/utils" as *;

.left-drawer {
  position: fixed;
  left: 0;
  z-index: 1;

  &__button {
    margin-top: 1rem;
    padding: 0.3rem;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
  }

  &__inner {
    & .MuiDrawer-paper {
      width: 360px;
      padding: 2rem;
      padding-top: 1rem;
    }

    // drawer 닫기 버튼
    &__button {
      width: 100%;

      & button {
        width: fit-content;
        float: right;
      }
    }

    // 데이터 입력
    &__content {
      @include custom-scroll();
    }

    // 하단 버튼 그룹
    &__bottom {
      position: sticky;
      background-color: white;
      display: flex;
      align-items: center;
      padding-top: 2rem;
      padding-bottom: 3rem;
      justify-content: center;

      & .reset-button {
        margin-right: 0.6rem;
        width: 100%;

        & button {
          border-radius: 30px;
          width: 100%;
          border: 1px solid #626262;
          color: #626262;

          &:hover {
            background-color: #6262621a;
          }
        }
      }

      & .submit-button {
        margin-left: 0.6rem;
        width: 100%;

        & button {
          border-radius: 30px;
          width: 100%;
          background-color: $my-blue;
        }
      }
    }
  }
}

/* 지역 설정 */
.user-location {
  margin-bottom: 1.5rem;
  @include input-title;

  &__content {
    display: flex;

    & .MuiInputBase-root {
      border-radius: 30px;
    }

    &__sido {
      margin-right: 1rem !important;
    }
  }
}

/* 사용자 정보 */
.user-info {
  margin-bottom: 1rem;
  @include input-title;

  &__content {
    &__form {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 1rem;

      & .MuiButtonBase-root {
        padding-right: 0.3rem;
      }

      & .MuiTypography-root {
        font-family: "EsamanruLight" !important;
        font-size: 0.9rem;
      }
    }
  }
}

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

@mixin common {
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    &.rcmd-btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .circle {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: relative;
        display: block;
        margin: 0;
        width: 2.3rem;
        height: 2.3rem;
        background: $secondary-color;
        border-radius: 1.625rem;
        .icon {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          position: absolute;
          top: 0;
          background: white;
          bottom: 0;
          margin: auto;
          &.arrow {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
            left: 0.625rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;
            &::before {
              position: absolute;
              content: "";
              top: -0.3rem;
              right: 0.3rem;
              width: 0.625rem;
              height: 0.625rem;
              border-top: 0.125rem solid #fff;
              border-right: 0.125rem solid #fff;
              transform: rotate(45deg);
            }
          }
        }
      }
      .button-text {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        padding: 0.75rem 0;
        margin: 0 0 0 3rem;
        color: black;
        font-weight: 500;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
      }
    }
    &:hover {
      .circle {
        width: 100%;
        .icon {
          &.arrow {
            // background: white;
            transform: translate(0.7rem, 0);
          }
        }
      }
      .button-text {
        color: white;
      }
    }
  }
}

.category-rcmd-btn {
  & p {
    font-size: 0.8rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;

    & button {
      width: 100%;
      border-radius: 30px;

      &:first-child {
        margin-right: 0.5rem;
      }
    }
  }
}

.category-rcmd {
  margin-bottom: 1rem;
  & .MuiAlert-icon {
    & svg {
      color: #e94560;
    }
  }

  & .MuiAlert-action {
    padding-left: 0.2rem;
  }

  &__content {
    & b {
      color: #e94560;
    }
  }

  &__button {
    margin-top: 0.7rem;
    float: right;

    & button {
      border: 1px solid #575757;
      border-radius: 30px;
      background-color: white;
      color: #575757;

      &:hover {
        border: 1px solid #e94560;
        background-color: white;
        color: #e94560;
      }
    }
  }
}

/* 내 카테고리 */
.my-category {
  @include input-title();

  margin-bottom: 1rem !important;

  &__chips {
    &--data {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

/* 카테고리 칩 */
.category-chip {
  margin-right: 0.3rem;
  margin-bottom: 0.5rem;

  &__avatar {
    &--1 {
      &.MuiAvatar-root {
        background-color: #e9456056;
        color: white !important;
      }
    }

    &--2 {
      &.MuiAvatar-root {
        background-color: #e94560a4;
        color: white !important;
      }
    }

    &--3 {
      &.MuiAvatar-root {
        background-color: #e94560;
        color: white !important;
      }
    }
  }
}

/* 가격대 설정 */
.price {
  @include input-title();

  &__content {
    &__jeonse {
      width: 100%;

      & h3 {
        margin-top: 0;
      }
    }
  }

  & .custom-slider {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@font-face {
  font-family: "GongGothicMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.category {
  margin-bottom: 1rem;
  @include input-title();
  font-family: "GongGothicMedium";

  &__tabs {
    display: flex;
    flex-wrap: wrap;
  }

  &__box {
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    padding: 1rem;

    &--row {
      font-family: "GongGothicMedium";
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.2rem 0;
    }

    &--top {
      font-family: "GongGothicMedium";
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: xx-small;
    }
  }
}

.categorybox {
  & button {
    padding: 0;
    font-size: large;
    font-family: "GongGothicMedium";
    min-width: 25%;
  }
}
