.left-drawer {
  position: fixed;
  left: 0;
  z-index: 1;

  &__button {
    margin-top: 1rem;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
  }

  &__inner {
    & .MuiDrawer-paper {
      padding: 1rem;
    }

    &__button {
      width: 100%;

      & button {
        width: fit-content;
        float: right;
      }
    }
  }
}