.left-drawer {
  position: fixed;
  left: 0;
  z-index: 1;

  &__button {
    margin-top: 1rem;
    padding: 0.3rem;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
  }

  &__inner {
    & .MuiDrawer-paper {
      width: 360px;
      padding: 2rem;
      padding-top: 1rem;
    }

    &__button {
      width: 100%;

      & button {
        width: fit-content;
        float: right;
      }
    }
  }
}

/* 지역 설정 */
.user-location {
  &__title {
    display: flex;

    &__tooltip {
      display: flex;
      align-items: center;

      & button {
        & svg {
          color: #CDCDCD;
        }
      }
    }
  }

  &__content {
    display: flex;

    & .MuiInputBase-root {
      border-radius: 30px;
    }

    &__sido {
      margin-right: 1rem !important;
    }
  }
}