@use "../common/utils" as *;

.right-drawer {
  position: fixed;
  right: 0;
  z-index: 1;

  &__button {
    margin-top: 1rem;
    padding: 0.3rem;
    background-color: white;
    border-radius: 10px 0px 0px 10px;
  }

  &__inner {
    & .MuiDrawer-paper {
      width: 360px;
      padding: 2rem;
      padding-top: 1rem;
    }

    &__button {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &--rcmd {
        & svg {
          color: $primary-color;
        }
      }
    }

    &__content {
      @include custom-scroll();
    }
  }

  hr {
    margin-right: 0.5rem;
  }
}

// 추천 지역
.region {
  @include input-title;

  font-family: "EsamanruLight";
  margin-bottom: 2rem;
  margin-right: 0.5rem;

  &__cntr {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;

    &--no-data {
      padding-top: 10%;
      padding-bottom: 15%;
      color: #b6b6b6;
      text-align: center;
      font-family: "EsamanruLight";
    }

    &--data {
      & button {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }
}

// 추천 지역 리스트
.rcmd-item {
  font-family: "EsamanruLight";
  width: 100%;
  margin: 0.2rem 0 !important;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &__data {
      width: 100%;
      display: grid;
      align-items: center;
      text-align: left;
      grid-template-columns: 1fr 4fr;

      &__ranking {
        font-size: 1.2rem;
        font-family: "EsamanruBold";
        color: black !important;
      }

      &__region {
        color: black !important;
        font-family: "EsamanruLight";
        font-size: 0.95rem;
      }
    }

    &__rating {
      & .MuiRating-iconFilled {
        color: $primary-color;
      }
    }
  }

  // 지역 버튼을 선택했을 때
  &.selected {
    &.MuiButton-root {
      background-color: #e94560dc;

      & span {
        color: white !important;
      }
    }
  }
}

/* 통계 및 부동산 */
.data {
  @include input-title();

  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-right: 0.5rem;
  font-family: "EsamanruLight";

  &__tabs {
    & button {
      font-size: 20px;
      font-family: "EsamanruLight";

      &.Mui-selected {
        font-weight: 800;
      }
    }
  }
}

.chart-data {
  display: flex;
  justify-content: center;

  &--no-data {
    text-align: center;
    padding-top: 18%;
    padding-bottom: 20%;
    color: #b6b6b6;
    font-family: "EsamanruLight";
  }

  & .recharts-polar-angle-axis-tick {
    cursor: pointer;
  }
}

.detail-data {
  padding: 1rem;
  width: 90%;
}

.category-data {
  &__title {
    font-family: "EsamanruMedium";
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__content {
    &--no-data {
      width: 100%;
      text-align: center;
      margin-top: 2rem;
      color: #b6b6b6;
    }

    &--data {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.category-data-card {
  margin: 0.5rem;
  margin-bottom: 2rem;

  &__title {
    margin-bottom: 1rem;
  }

  &__content {
    display: flex;

    & div {
      background-color: #4d89c682;
      width: 10px;
      height: auto;
      margin-right: 1rem;
    }
    & p {
      margin: 0;
      font-family: "EsamanruBold";
      font-size: 1.7rem;
    }

    & span {
      margin-top: 0.5rem;
      margin-left: 0.5rem;
    }
  }
}

.real-estate-list {
  display: flex;
  justify-content: center;

  &--no-data {
    text-align: center;
    padding-top: 18%;
    padding-bottom: 20%;
    color: #b6b6b6;
    font-family: "EsamanruLight";
  }
}

.rcmd-modal {
  font-family: "EsamanruLight";

  & .MuiBox-root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 24;
    padding: 2rem;
  }

  &__title {
    display: flex;
    flex-direction: column !important;
    text-align: left;
    margin-bottom: 1.3rem !important;

    & h2 {
      margin-top: 0;
    }

    & p {
      margin-top: 0;
    }
  }

  &__content {
    & .MuiRating-root {
      font-size: 3em;
      margin-bottom: 3rem;
    }

    & .section {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    & button {
      font-family: "EsamanruLight";
      position: relative;
      width: 70%;
      border: 0;
      outline: none;
      background: $primary-color;
      color: #fff;
      font-size: 1rem;
      border-radius: 40px;
      text-align: center;
      box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
      overflow: hidden;
      cursor: pointer;
    }

    & .checked {
      width: 30%;
      height: 100%;
      border-radius: 40px;
      box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 0;
      opacity: 0;
      background: $secondary-color;
    }

    & .checked svg {
      width: 40px;
      margin: 0.3rem;
    }

    & .checked path {
      stroke-width: 3;
      stroke: #fff;
      stroke-dasharray: 34;
      stroke-dashoffset: 34;
      stroke-linecap: round;
    }

    & .active {
      background: $my-blue;
      transition: 1s;
    }

    & .active p {
      transition: 1s;
      margin-right: 3rem;
    }

    & .active .checked {
      opacity: 1;
      transition: 1s;
      right: 0;
    }

    & .active .checked path {
      transition: 1s;
      transition-delay: 1s;
      stroke-dashoffset: 0;
    }
  }
}
