.right-drawer {
  position: fixed;
  right: 0;
  z-index: 1;

  &__button {
    margin-top: 1rem;
    padding: 0.3rem;
    background-color: white;
    border-radius: 10px 0px 0px 10px;
  }

  &__inner {
    & .MuiDrawer-paper {
      width: 360px;
      padding: 2rem;
      padding-top: 1rem;
    }

    &__button {
      width: 100%;

      & button {
        width: fit-content;
        float: left;
      }
    }
  }
}

.region {
  &__cntr {
    display: flex;
    justify-content: space-around;
  }
}

.chip {
  margin-bottom: 15px;
  
  // &	.MuiChip-colorDefault {
  //   background-color: #c64d4d;
  // }
  &__content {
    width: 155px;
    
    & span {
      font-size: 16px;
    }
  }
}