$primary-color: #e94560;
$secondary-color: #0f3460;
$my-blue: #4d89c6;

@mixin input-title {
  &__title {
    display: flex;

    &__tooltip {
      display: flex;
      align-items: center;

      & button {
        & svg {
          color: #cdcdcd;
        }
      }
    }
  }
}
