.logo {
  font-family: "EsamanruLight";

  & a {
    text-decoration: none;
    font-size: 40px;
  }
  &__map {
    color: #0f3460;
    opacity: 0.48;

    &--active {
      color: #2c4d73;
      font-weight: bold;
    }
  }
  &__info {
    color: #e94560;
    opacity: 0.7;

    &--active {
      color: #e94560;
      font-weight: bold;
    }
  }
  & hr {
    border-right-width: 2px;
  }
}
